# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.vscode/

# ignore C++ object files
.o

# Ignore standalone go-routingkit intermediate & example files
cmd/routingkit/routingkit
cmd/routingkit/**/*.osm.pbf
cmd/routingkit/**/*.ch
cmd/routingkit/**/*.json

# Temporary directories
third_party/RoutingKit/

Client.o
